.secao1 {
  border-top: 1px solid rgb(228, 226, 226);
  display: flex;
  justify-content: flex-start;
  align-items: first baseline;
  gap: 7em;
}

.left-col {
  min-width: 66px;
}

.right-col {
  width: 100%;
}

/* ---------------- */

.secao2 {
  border-top: 1px solid rgb(228, 226, 226);
  display: flex;
  justify-content: flex-start;
  align-items: first baseline;
  gap: 7em;
}

.left-col-2 {
  min-width: 66px;
}

.right-col-2 {
  display: flex;
  width: 100%;
  gap: 2em;
}

.left-col-2-in {
  min-width: 66px;
  width: 100%;
}

.right-col-2-in {
  width: 100%;
  max-width: 500px;
}

/* ---------------- */

.secao3 {
  border-top: 1px solid rgb(228, 226, 226);
  display: flex;
  justify-content: flex-start;
  align-items: first baseline;
  gap: 4.4em;
}

.secao4 {
  border-top: 1px solid rgb(228, 226, 226);
  display: flex;
  justify-content: flex-start;
  align-items: first baseline;
  gap: 7em;
}

.left-col-4 {
  min-width: 66px;
}

.right-col-4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 0rem; /* adjust as needed */
}

.secao5 {
  border-top: 1px solid rgb(228, 226, 226);
  display: flex;
  justify-content: flex-start;
  align-items: first baseline;
  gap: 7em;
}

.left-col-5 {
  min-width: 66px;
}

.right-col-5 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 0rem; /* adjust as needed */
}

.secao6 {
  border-top: 1px solid rgb(228, 226, 226);
  display: flex;
  gap: 7em;
}

.left-col-6 {
  margin-top: 1em;
}

.right-col-6 {
  position: relative;
  display: flex;
  gap: 2em;
  align-items: start;
  flex-basis: 100%;
}

.frente {
  height: 360px;
}

.items {
  margin-top: 10px;
}

.svg1 {
  position: absolute;
  top: 60px;
  left: 70px;
}

.svg1:hover,
.svg1:focus,
.svg1:active {
  fill: red !important;
}
